/*Sass variables*/
/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/*---------------Mixins for transforms, transitions and animations*/
/*Mixin for animation on contact page*/
/*Mixin for hide & show*/
body {
  margin: 0;
  background: white; }

h1, h2 {
  font-family: 'Cabin Sketch', cursive;
  color: black;
  text-decoration: none; }

h3, h4, label, a, p {
  font-family: 'Oxygen', sans-serif;
  text-decoration: none; }

label, a, p {
  margin: 0; }

article p, article h3 {
  margin-left: 1em; }

.nav-a {
  color: #EA2BA2; }

button {
  height: 3em;
  font-size: 1rem;
  width: auto;
  border: none;
  background: #EA2BA2;
  color: white; }
  button:active {
    background: #CB22D7; }
  button:focus {
    outline: none; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  height: 4em;
  background: white;
  width: 100%;
  color: #EA2BA2; }

nav {
  width: 50%;
  display: flex;
  justify-content: space-between; }

main {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.forms-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  background: white; }

input {
  border-style: dashed; }
  input:focus {
    outline: none; }

.add-form {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: 30em; }
  .add-form.active {
    display: flex; }
  .add-form input {
    display: block;
    height: 2em;
    font-size: 3rem;
    margin-bottom: 1em; }
  .add-form label {
    font-size: 1.5em; }

label {
  font-size: 2em;
  color: #EA2BA2;
  float: left;
  display: block; }

button {
  font-size: 2em;
  height: 2em;
  width: 50%; }

.rate-form {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: auto;
  text-align: left;
  margin-right: 2em; }
  .rate-form.active {
    display: flex; }
  .rate-form label {
    font-size: 1rem; }
  .rate-form input, .rate-form button {
    height: 2em;
    margin-bottom: 1em; }

.movie-list {
  display: flex;
  width: 80%;
  flex-wrap: wrap-reverse;
  height: auto; }

.movie-card {
  display: flex;
  flex-direction: column;
  height: 15em;
  width: 15em;
  color: white;
  margin: 1rem;
  word-wrap: normal;
  background: linear-gradient(#CB22D7, #EA2BA2); }
  .movie-card p {
    margin-bottom: 1em; }

.rating-input {
  font-size: 1rem;
  width: 2rem;
  height: 2rem; }

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  font-size: 0.7em;
  width: 40rem;
  margin: 0 1em 0 1em; }
  .search-form input {
    width: 100%;
    font-size: 1.5rem; }
    .search-form input:focus {
      outline: none; }

.search-div {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  align-items: space-between;
  justify-content: flex-start;
  width: 100%; }
  .search-divinput {
    height: 100%; }

.links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row; }

.rate-wrapper {
  flex-direction: column; }

.add-wrapper {
  flex-direction: column; }

#add-movie, #rate-movie {
  cursor: pointer;
  font-size: 2em;
  margin-right: 2rem; }

#search-title {
  width: 70%; }

#search-button {
  width: 10rem;
  height: 3.5rem; }

#magnus {
  font-size: 400%; }
  @media (max-width: 900px) {
    #magnus {
      font-size: 300%; } }
  @media (max-width: 464px) {
    #magnus {
      font-size: 200%; } }

/*# sourceMappingURL=main.css.map */
